$gris-clair: #ededf0;
$title: 'Open Sans Condensed', sans-serif;
$text: 'Open Sans', sans-serif;

body {
    font-family: $text;
}

.row {margin: 0 !important;}
*[class^="col-"] {padding: 0 !important;}

#SoMe {
        position: fixed;
        top: 230px;
        z-index: 999;
        ul {
            width: 150px;
            margin: 0;
            padding: 0;
            
            li {
                position: relative;
                left: -115px;
                &:hover {
                    left: 0;
                }
                padding: 5px;
                list-style: none;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                text-align: right;
                a {
                    color: #fff;
                    padding-left: 20px;
                    i {
                        background-color: #fff;
                        border-radius: 50%;
                        width: 26px;
                        height: 26px;
                        padding: 5px;
                        margin-left: 10px;
                        &::before {
                            font-size: 0.8em;
                        }
                    }
                }
            }
            li:nth-child(1){background-color: #00b2f5; margin-bottom: 5px; a i {color:#00b2f5;}}
            li:nth-child(2){background-color: #2e6992; margin-bottom: 5px; a i {color:#2e6992;}}
            li:nth-child(3){background-color: #fe658e; margin-bottom: 5px; a i {color:#fe658e;}}
            li:nth-child(4){background-color: #e25443; a i {color:#e25443;}}
        }
} // fin de SoMe

#pub {
    /*border: 1px solid black;*/
    #slider {
        margin: auto;
        width: 170px*5 + 30px*6;
        height: 350px;
        /*margin: auto;*/
        overflow: hidden;
        padding: 30px;
        border: 1px solid $gris-clair;
        ul {
            padding: 0;
            width: 215*10px;
            li:nth-child(even) {
                   padding: 0 30px 0 30px;
               }
           li {
            list-style: none;
            float: left;
                img {
                width: 170px;
                height: 250px;
                }
               .descr {
                   width: 170px;
                   margin: 0;
                   p:nth-child(1) {text-align: center; padding: 0;}
                   p:nth-child(2) {text-align: left; padding: 0; margin: 0;}
                   p:nth-child(3) {text-align: right; padding: 0; margin: 0;}
               }
          } 
        }
    } //slider
} // fin de section #pub

.plus {
    background-color: red;
    width: 150px;
    height: 30px;
    display: block;
    margin: auto !important;
    border: 0;
    color: #fff;
}

.title {
    font-family: $title;
    border-left: 3px solid red;
    margin-bottom: 20px !important;
}

#featured-movies, #featured-series {
    margin-top: 50px !important;
    .content {
        padding: 0;
        .filtres {
            width: 170px*6 + 5px*6;
            margin: 20px auto 10px auto;
            padding: 0;
            display: flex;
            height: 40px;
             li {
                list-style: none;
                margin-right: 5px;
                 a {
                     padding: 10px 20px;
                     background-color: $gris-clair;
                     color: #000;
                 }
                 .active {
                     background-color: red;
                     color: #fff;
                 }
             }
        }
        
        #moviesOne, #moviesTwo {
            margin: auto;
            width: 170px*6 + 5px*6;
            height: 350*2px;
            padding: 0;
            li:nth-child(even) {
                   padding: 0 5px 0 5px;
               }
            li:nth-child(n+5) {
                margin-bottom: 20px;
            }
           li {
            list-style: none;
            float: left;
                img {
                width: 170px;
                height: 250px;
                }
               .descr {
                   width: 170px;
                   margin: 0;
                   p:nth-child(1) {text-align: center; padding: 0;}
                   p:nth-child(2) {text-align: left; padding: 0; margin: 0;}
                   p:nth-child(3) {text-align: right; padding: 0; margin: 0;}
               }
          } 
        }
        
        
    }
}


#contact {
    margin-top: 50px !important;
    padding: 0;
    
    form {
        display: flex;
        justify-content: space-between;
        
        input[type="submit"] {
            background-color: red;
            width: 150px;
            height: 30px;
            display: block;
            border-radius: 0;
            border: 0;
            color: #fff;
        }
        *:focus {
            outline: none;
        }
        input, textarea {
            border-radius: 5px;
            padding: 3px 6px !important;
            outline: 0;
            border: 1px solid $gris-clair;
        }
        ::-webkit-input-placeholder {
            font-size: 0.8rem;
        }
    }
}







































