@media(max-width:460px){
	.gallery{
		div{
			display: flex;
			flex-direction: column;
			img{
				margin: 0 auto !important;
			width: 400px !important;
			height: 500px!important;
			}
		}

	}
	.description{
		widtht: 400px !important;
		margin: 0;
		margin-left: 5px;
		margin-bottom: 5px;
		background-color: #D9D9D9;
		height: 40px;
		font-size: 12px;
		padding: 0 10px;
		p:nth-child(1){
			text-align:center;
			padding: 0;
			margin-bottom: 0;
		}
		p:nth-child(2){
			padding: 0;
		}
		p:nth-child(3){
			padding:0 10px;
			text-align: right;
			color: #FF1A3D;
			padding-right: 2px;
		}
	}
}

#shop{
	.symbol{
		display: flex;
		justify-content: space-between;
		h2{
			border-left: 3px solid red;
			margin-left: 25px;
		}
		div{
			display:flex;
			.symb1{
				background-color:black;
				color: white;
				width: 20px;
				height: 20px;
			}
			.symb2{
				background-color:black;
				color: white;
				width: 20px;
				height: 20px;
				margin-left: 5px;
			}
		}

	}
	.row{
		margin-right: 0 !important;
	}
	.gallery{	
		.affiche{
			display: flex;
		}
		img{
			width: 175px;
			height: 250px;
			margin-left: 5px;
		}
	}
	.description{
		width: 175px;
		margin: 0;
		margin-left: 5px;
		margin-bottom: 5px;
		background-color: #D9D9D9;
		height: 40px;
		font-size: 12px;
		padding: 0 10px;
		p:nth-child(1){
			text-align:center;
			padding: 0;
			margin-bottom: 0;
		}
		p:nth-child(2){
			padding: 0;
		}
		p:nth-child(3){
			padding:0 10px;
			text-align: right;
			color: #FF1A3D;
			padding-right: 2px;
		}
	}
	.ba{
		padding-left: 0;
		img{
			width: 520px;
			height: 400px;
		}
		.info{
			margin-top: -7px;
			padding-left: 5px;
			background-color:#151515;
			color: white;
			h4{
				color: #FF1A3B;
			}
			p{
				font-size: 13px;
				span{
					color: #FF1A3B;
				}
			}
		}
	}
}