.row {
  margin-right: 0 !important; }

#home {
  color: white; }
  #home .jumbotron {
    background-image: url("../images/lego.jpg");
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 500px;
    padding: 0; }
    #home .jumbotron .opacity {
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 999; }
      #home .jumbotron .opacity nav {
        padding-top: 20px; }
        #home .jumbotron .opacity nav ul {
          list-style-type: none;
          display: flex; }
          #home .jumbotron .opacity nav ul li .titre {
            font-size: 40px;
            font-weight: bold; }
            #home .jumbotron .opacity nav ul li .titre span {
              color: #FF1A3B; }
          #home .jumbotron .opacity nav ul li a {
            margin-left: 20px;
            font-size: 12px;
            color: white;
            background-color: transparent; }
            #home .jumbotron .opacity nav ul li a:hover {
              background-color: #FF1A3B;
              color: white; }
            #home .jumbotron .opacity nav ul li a:active {
              color: #FF1A3B; }
        #home .jumbotron .opacity nav .dropdown-menu a {
          color: black;
          margin-top: 0;
          padding: 0; }
      #home .jumbotron .opacity h2 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: white; }
        #home .jumbotron .opacity h2 span {
          color: #FF1A3B; }
      #home .jumbotron .opacity h3 {
        margin-top: 75px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: white; }
        #home .jumbotron .opacity h3 span {
          color: #FF1A3B; }
      #home .jumbotron .opacity .quote {
        text-align: center;
        padding-top: 25px;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px; }
      #home .jumbotron .opacity p {
        text-align: center;
        padding-top: 25px;
        font-size: 12px;
        letter-spacing: 1px; }
      #home .jumbotron .opacity input {
        display: block;
        margin: auto;
        border: none;
        background-color: #FF1A3B;
        color: white;
        font-size: 12px;
        padding: 5px 5px 5px 5px;
        border-radius: 2px; }
      #home .jumbotron .opacity #border {
        margin-top: 155px;
        display: flex;
        background-color: #FF1A3D; }
        #home .jumbotron .opacity #border p {
          padding: 0px 0px 0px 25px;
          margin-top: 10px;
          margin-bottom: 5px; }
        #home .jumbotron .opacity #border #first {
          margin-top: 5px;
          background-color: black;
          color: white;
          font-size: 12px;
          border: none;
          width: 50px;
          height: 25px;
          margin-right: 5px;
          margin-left: 20px; }
        #home .jumbotron .opacity #border #second {
          margin-left: 0;
          margin-top: 5px;
          background-color: black;
          color: white;
          font-size: 12px;
          border: none;
          height: 25px; }

#shop .symbol {
  display: flex;
  justify-content: space-between; }
  #shop .symbol div {
    display: flex; }
    #shop .symbol div .symb1 {
      background-color: black;
      color: white;
      width: 20px;
      height: 20px; }
    #shop .symbol div .symb2 {
      background-color: black;
      color: white;
      width: 20px;
      height: 20px;
      margin-left: 5px; }
#shop .row {
  margin-right: 0 !important; }
#shop .gallery .affiche {
  display: flex; }
#shop .gallery img {
  width: 175px;
  height: 250px;
  margin-left: 5px; }
#shop .description {
  width: 175px;
  margin: 0;
  margin-left: 5px; }
  #shop .description p:nth-child(1) {
    text-align: center;
    padding: 0; }
  #shop .description p:nth-child(2) {
    padding: 0; }
  #shop .description p:nth-child(3) {
    padding: 0;
    text-align: right;
    color: #FF1A3D; }
#shop .ba {
  padding-left: 0; }
  #shop .ba img {
    width: 520px;
    height: 400px; }
  #shop .ba .info {
    padding-left: 5px;
    background-color: #151515;
    color: white; }
    #shop .ba .info h4 {
      color: #FF1A3B; }
    #shop .ba .info p {
      font-size: 13px; }
      #shop .ba .info p span {
        color: #FF1A3B; }

/*# sourceMappingURL=style.css.map */
