body {
  font-family: "Open Sans Condensed", sans-serif; }

.row {
  margin: 0 !important; }

*[class^="col-"] {
  padding: 0 !important; }

#SoMe {
  position: fixed;
  top: 230px;
  z-index: 999; }
  #SoMe ul {
    width: 150px;
    margin: 0;
    padding: 0; }
    #SoMe ul li {
      position: relative;
      left: -115px;
      padding: 5px;
      list-style: none;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      text-align: right; }
      #SoMe ul li:hover {
        left: 0; }
      #SoMe ul li a {
        color: #fff;
        padding-left: 20px; }
        #SoMe ul li a i {
          background-color: #fff;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          padding: 5px;
          margin-left: 10px; }
          #SoMe ul li a i::before {
            font-size: 0.8em; }
    #SoMe ul li:nth-child(1) {
      background-color: #00b2f5;
      margin-bottom: 5px; }
      #SoMe ul li:nth-child(1) a i {
        color: #00b2f5; }
    #SoMe ul li:nth-child(2) {
      background-color: #2e6992;
      margin-bottom: 5px; }
      #SoMe ul li:nth-child(2) a i {
        color: #2e6992; }
    #SoMe ul li:nth-child(3) {
      background-color: #fe658e;
      margin-bottom: 5px; }
      #SoMe ul li:nth-child(3) a i {
        color: #fe658e; }
    #SoMe ul li:nth-child(4) {
      background-color: #e25443; }
      #SoMe ul li:nth-child(4) a i {
        color: #e25443; }

#pub {
  /*border: 1px solid black;*/ }
  #pub #slider {
    margin: auto;
    width: 1030px;
    height: 350px;
    /*margin: auto;*/
    overflow: hidden;
    padding: 30px;
    border: 1px solid #ededf0; }
    #pub #slider ul {
      padding: 0;
      width: 2150px; }
      #pub #slider ul li:nth-child(even) {
        padding: 0 30px 0 30px; }
      #pub #slider ul li {
        list-style: none;
        float: left; }
        #pub #slider ul li img {
          width: 170px;
          height: 250px; }
        #pub #slider ul li .descr {
          width: 170px;
          margin: 0; }
          #pub #slider ul li .descr p:nth-child(1) {
            text-align: center;
            padding: 0; }
          #pub #slider ul li .descr p:nth-child(2) {
            text-align: left;
            padding: 0;
            margin: 0; }
          #pub #slider ul li .descr p:nth-child(3) {
            text-align: right;
            padding: 0;
            margin: 0; }

.plus {
  background-color: #FF1A3B;
  width: 150px;
  height: 30px;
  display: block;
  margin: auto !important;
  border: 0;
  color: #fff;
  cursor: pointer; }

.title {
  font-family: "Open Sans Condensed", sans-serif;
  border-left: 3px solid #FF1A3B;
  margin-bottom: 20px !important; }

#movies div:nth-child(n+13) {
  display: none; }

#moinsFilms {
  display: none; }

#series div:nth-child(n+13) {
  display: none; }

#moinsSeries {
  display: none; }

#featured-movies, #featured-series {
  margin-top: 50px !important; }
  #featured-movies .content, #featured-series .content {
    padding: 0; }
    #featured-movies .content .filtres, #featured-series .content .filtres {
      width: 1050px;
      margin: 20px auto 10px auto;
      padding: 0;
      display: flex;
      height: 40px; }
      #featured-movies .content .filtres li, #featured-series .content .filtres li {
        list-style: none;
        margin-right: 5px;
        padding: 10px 20px;
        background-color: #ededf0;
        color: #000;
        cursor: pointer; }
        #featured-movies .content .filtres li:hover, #featured-series .content .filtres li:hover {
          background-color: #FF1A3B; }
      #featured-movies .content .filtres .active, #featured-series .content .filtres .active {
        background-color: #FF1A3B !important;
        color: #fff; }
    #featured-movies .content #movies, #featured-movies .content #series, #featured-series .content #movies, #featured-series .content #series {
      margin: auto;
      width: 1050px;
      height: auto;
      padding: 0;
      display: flex !important;
      flex-wrap: wrap; }
      #featured-movies .content #movies img, #featured-movies .content #series img, #featured-series .content #movies img, #featured-series .content #series img {
        width: 170px;
        height: 250px;
        margin: 0 2.5px 0 2.5px; }
      #featured-movies .content #movies .descr, #featured-movies .content #series .descr, #featured-series .content #movies .descr, #featured-series .content #series .descr {
        width: 170px;
        margin: 0; }
        #featured-movies .content #movies .descr p:nth-child(1), #featured-movies .content #series .descr p:nth-child(1), #featured-series .content #movies .descr p:nth-child(1), #featured-series .content #series .descr p:nth-child(1) {
          text-align: center;
          padding: 0; }
        #featured-movies .content #movies .descr p:nth-child(2), #featured-movies .content #series .descr p:nth-child(2), #featured-series .content #movies .descr p:nth-child(2), #featured-series .content #series .descr p:nth-child(2) {
          text-align: left;
          padding: 0;
          margin: 0; }
        #featured-movies .content #movies .descr p:nth-child(3), #featured-movies .content #series .descr p:nth-child(3), #featured-series .content #movies .descr p:nth-child(3), #featured-series .content #series .descr p:nth-child(3) {
          text-align: right;
          padding: 0;
          margin: 0; }

/*------------*/
.dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
  padding: 0;
  transform: translate3d(0px, 38px, 0px) !important; }
  .dropdown-menu .dropdown-item {
    background-color: #ededf0;
    margin-top: 3px; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #FF1A3B; }

/*-----------------*/
#contact {
  margin-top: 50px !important;
  padding: 0; }
  #contact form {
    display: flex;
    justify-content: space-between; }
    #contact form input[type="submit"] {
      background-color: #FF1A3B;
      width: 150px;
      height: 30px;
      display: block;
      border-radius: 0;
      border: 0;
      color: #fff; }
    #contact form *:focus {
      outline: none; }
    #contact form input, #contact form textarea {
      border-radius: 5px;
      padding: 3px 6px !important;
      outline: 0;
      border: 1px solid #ededf0; }
    #contact form ::-webkit-input-placeholder {
      font-size: 0.8rem; }

/*# sourceMappingURL=style.css.map */
