body {
  font-family: "Open Sans Condensed", sans-serif; }

.row {
  margin: 0 !important; }

*[class^="col-"] {
  padding: 0 !important; }

#SoMe {
  position: fixed;
  top: 230px;
  z-index: 999; }
  #SoMe ul {
    width: 150px;
    margin: 0;
    padding: 0; }
    #SoMe ul li {
      position: relative;
      left: -115px;
      padding: 5px;
      list-style: none;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      text-align: right; }
      #SoMe ul li:hover {
        left: 0; }
      #SoMe ul li a {
        color: #fff;
        padding-left: 20px; }
        #SoMe ul li a i {
          background-color: #fff;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          padding: 5px;
          margin-left: 10px; }
          #SoMe ul li a i::before {
            font-size: 0.8em; }
    #SoMe ul li:nth-child(1) {
      background-color: #00b2f5;
      margin-bottom: 5px; }
      #SoMe ul li:nth-child(1) a i {
        color: #00b2f5; }
    #SoMe ul li:nth-child(2) {
      background-color: #2e6992;
      margin-bottom: 5px; }
      #SoMe ul li:nth-child(2) a i {
        color: #2e6992; }
    #SoMe ul li:nth-child(3) {
      background-color: #fe658e;
      margin-bottom: 5px; }
      #SoMe ul li:nth-child(3) a i {
        color: #fe658e; }
    #SoMe ul li:nth-child(4) {
      background-color: #e25443; }
      #SoMe ul li:nth-child(4) a i {
        color: #e25443; }

#pub {
  /*border: 1px solid black;*/ }
  #pub #slider {
    margin: auto;
    width: 1030px;
    height: 350px;
    /*margin: auto;*/
    overflow: hidden;
    padding: 30px;
    border: 1px solid #ededf0; }
    #pub #slider ul {
      padding: 0;
      width: 2150px; }
      #pub #slider ul li:nth-child(even) {
        padding: 0 30px 0 30px; }
      #pub #slider ul li {
        list-style: none;
        float: left; }
        #pub #slider ul li img {
          width: 170px;
          height: 250px; }
        #pub #slider ul li .descr {
          width: 170px;
          margin: 0; }
          #pub #slider ul li .descr p:nth-child(1) {
            text-align: center;
            padding: 0; }
          #pub #slider ul li .descr p:nth-child(2) {
            text-align: left;
            padding: 0;
            margin: 0; }
          #pub #slider ul li .descr p:nth-child(3) {
            text-align: right;
            padding: 0;
            margin: 0; }

.plus {
  background-color: #FF1A3B;
  width: 150px;
  height: 30px;
  display: block;
  margin: auto !important;
  border: 0;
  color: #fff;
  cursor: pointer; }

.title {
  font-family: "Open Sans Condensed", sans-serif;
  border-left: 3px solid #FF1A3B;
  margin-bottom: 20px !important; }

#movies div:nth-child(n+13) {
  display: none; }

#moinsFilms {
  display: none; }

#series div:nth-child(n+13) {
  display: none; }

#moinsSeries {
  display: none; }

#featured-movies, #featured-series {
  margin-top: 50px !important; }
  #featured-movies .content, #featured-series .content {
    padding: 0; }
    #featured-movies .content .filtres, #featured-series .content .filtres {
      width: 1050px;
      margin: 20px auto 10px auto;
      padding: 0;
      display: flex;
      height: 40px; }
      #featured-movies .content .filtres li, #featured-series .content .filtres li {
        list-style: none;
        margin-right: 5px;
        padding: 10px 20px;
        background-color: #ededf0;
        color: #000;
        cursor: pointer; }
        #featured-movies .content .filtres li:hover, #featured-series .content .filtres li:hover {
          background-color: #FF1A3B; }
      #featured-movies .content .filtres .active, #featured-series .content .filtres .active {
        background-color: #FF1A3B !important;
        color: #fff; }
    #featured-movies .content #movies, #featured-movies .content #series, #featured-series .content #movies, #featured-series .content #series {
      margin: auto;
      width: 1050px;
      height: auto;
      padding: 0;
      display: flex !important;
      flex-wrap: wrap; }
      #featured-movies .content #movies img, #featured-movies .content #series img, #featured-series .content #movies img, #featured-series .content #series img {
        width: 170px;
        height: 250px;
        margin: 0 2.5px 0 2.5px; }
      #featured-movies .content #movies .descr, #featured-movies .content #series .descr, #featured-series .content #movies .descr, #featured-series .content #series .descr {
        width: 170px;
        margin: 0; }
        #featured-movies .content #movies .descr p:nth-child(1), #featured-movies .content #series .descr p:nth-child(1), #featured-series .content #movies .descr p:nth-child(1), #featured-series .content #series .descr p:nth-child(1) {
          text-align: center;
          padding: 0; }
        #featured-movies .content #movies .descr p:nth-child(2), #featured-movies .content #series .descr p:nth-child(2), #featured-series .content #movies .descr p:nth-child(2), #featured-series .content #series .descr p:nth-child(2) {
          text-align: left;
          padding: 0;
          margin: 0; }
        #featured-movies .content #movies .descr p:nth-child(3), #featured-movies .content #series .descr p:nth-child(3), #featured-series .content #movies .descr p:nth-child(3), #featured-series .content #series .descr p:nth-child(3) {
          text-align: right;
          padding: 0;
          margin: 0; }

/*------------*/
.dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
  padding: 0;
  transform: translate3d(0px, 38px, 0px) !important; }
  .dropdown-menu .dropdown-item {
    background-color: #ededf0;
    margin-top: 3px; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #FF1A3B; }

/*-----------------*/
#contact {
  margin-top: 50px !important;
  padding: 0; }
  #contact form {
    display: flex;
    justify-content: space-between; }
    #contact form input[type="submit"] {
      background-color: #FF1A3B;
      width: 150px;
      height: 30px;
      display: block;
      border-radius: 0;
      border: 0;
      color: #fff; }
    #contact form *:focus {
      outline: none; }
    #contact form input, #contact form textarea {
      border-radius: 5px;
      padding: 3px 6px !important;
      outline: 0;
      border: 1px solid #ededf0; }
    #contact form ::-webkit-input-placeholder {
      font-size: 0.8rem; }

/*-----shop-------------*/
#shop .symbol {
  display: flex;
  justify-content: space-between; }

#shop .symbol div {
  display: flex; }

#shop .symbol div .symb1 {
  background-color: black;
  color: white;
  width: 20px;
  height: 20px; }

#shop .symbol div .symb2 {
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  margin-left: 5px; }

#shop .row {
  margin-right: 0 !important; }

#shop .gallery .affiche {
  display: flex; }

#shop .gallery img {
  width: 175px;
  height: 250px;
  margin-left: 5px; }

#shop .description {
  width: 175px;
  margin: 0;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: #D9D9D9;
  height: 40px;
  font-size: 12px;
  padding: 0 10px; }

#shop .description p:nth-child(1) {
  text-align: center;
  padding: 0;
  margin-bottom: 0; }

#shop .description p:nth-child(2) {
  padding: 0; }

#shop .description p:nth-child(3) {
  padding: 0 10px;
  text-align: right;
  color: #FF1A3D;
  padding-right: 2px; }

#shop .ba {
  padding-left: 0; }

#shop .ba img {
  width: 520px;
  height: 400px; }

#shop .ba .info {
  padding-left: 5px;
  background-color: #151515;
  color: white; }

#shop .ba .info h4 {
  color: #FF1A3B; }

#shop .ba .info p {
  font-size: 13px; }

#shop .ba .info p span {
  color: #FF1A3B; }

/*----------home-------------*/
#titre {
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 55px; }

.jumbotron {
  padding: 0; }
  .jumbotron nav {
    position: absolute;
    width: 100%;
    z-index: -10;
    max-width: 100%; }
  .jumbotron .carousel-item img {
    width: 100vw;
    height: 575px; }

.overlay {
  margin-left: 25%;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 40%;
  width: 50vw;
  text-align: center; }
  .overlay span {
    color: #FF1A3D; }
  .overlay h3 {
    color: white;
    font-size: 50px;
    font-weight: bold; }
  .overlay .quote {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 2px; }
  .overlay input {
    background-color: #FF1A3D;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    padding: 5px 2px 5px 2px; }

.lay {
  position: absolute;
  z-index: 12;
  width: 100%;
  text-align: center; }
  .lay .compose {
    color: yellow; }
  .lay span {
    color: #FF1A3D; }

.last a {
  background-color: transparent !important; }

.nav-item #act {
  color: #FF1A3D !important;
  background-color: transparent !important; }
.nav-item a {
  padding: 5px;
  background-color: #FF1A3D;
  margin-right: 5px;
  color: white !important; }
.nav-item .dropdown-menu a {
  background-color: white;
  color: black !important; }

.opacity {
  width: 101vw;
  height: 101vh;
  background-color: rgba(0, 0, 0, 0.5) !important;
  /*z-index: 999 !important;*/
  position: absolute; }

.searching {
  margin-left: 180px;
  border-radius: 50px;
  width: 200px;
  height: 25px;
  background-color: black !important;
  border: none; }

#border {
  display: flex;
  background-color: #FF1A3D; }
  #border p {
    padding: 0px 0px 0px 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white; }
  #border #first {
    margin-top: 5px;
    background-color: black;
    color: white;
    font-size: 12px;
    border: none;
    width: 50px;
    height: 25px;
    margin-right: 5px;
    margin-left: 20px; }
  #border #second {
    margin-left: 0;
    margin-top: 5px;
    background-color: black;
    color: white;
    font-size: 12px;
    border: none;
    height: 25px; }

@media (max-width: 460px) {
  .carousel-item img {
    width: 100vw !important;
    height: 100vh !important; }

  .nav-item a {
    background-color: transparent !important; }

  h3 {
    color: white;
    font-size: 50px;
    font-weight: bold; }

  .searching {
    margin-left: 75px !important; } }
/*-----------------Modal Load-----------------*/
#modalLoad {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999; }

#blur {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #FF1A3B;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 50px 0; }

#blur a {
  background-color: #fff;
  color: #FF1A3B;
  border: none;
  border-radius: 2px;
  padding: 10px;
  text-decoration: none;
  margin-top: 20px; }

#blur p {
  margin-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
