body {
  margin-top: 50px;
  background-color: #0D0D0D;
  font-size: 12px;
  font-family: 'Raleway', sans-serif; }
  body #sub h3 {
    text-align: center;
    color: #FF1A3D; }
  body #sub div {
    display: flex;
    margin-bottom: 50px; }
    body #sub div input {
      width: 500px;
      margin: 0 10px 0 450px;
      align-items: center;
      border-radius: 2px; }
    body #sub div button {
      margin-right: 350px;
      background-color: #FF1A3D;
      border-color: #FF1A3D;
      border-radius: 2px; }
  body .first {
    margin-left: 25px; }
    body .first h3 {
      padding-bottom: 8px;
      font-size: 14px;
      border-bottom: 2px solid #242424;
      color: #D1D1D1;
      letter-spacing: 2px; }
    body .first ul {
      list-style-type: none;
      padding: 0;
      color: #8D8D8D; }
  body .second h3 {
    padding-bottom: 8px;
    font-size: 14px;
    border-bottom: 2px solid #242424;
    color: #D1D1D1;
    letter-spacing: 2px; }
  body .second ul {
    list-style-type: none;
    padding: 0;
    color: #8D8D8D; }
  body .third {
    margin-left: -65px; }
    body .third h3 {
      padding-bottom: 8px;
      font-size: 14px;
      border-bottom: 2px solid #242424;
      color: #D1D1D1;
      letter-spacing: 2px; }
    body .third .case {
      display: flex; }
      body .third .case p {
        color: #D1D1D1;
        background-color: #242424;
        margin-right: 5px;
        padding: 3px;
        font-size: 10px; }
    body .third .case1 {
      margin-top: -10px;
      display: flex; }
      body .third .case1 p {
        color: #D1D1D1;
        background-color: #242424;
        margin-right: 5px;
        padding: 3px;
        font-size: 10px; }
  body .fourth h3 {
    padding-bottom: 8px;
    font-size: 14px;
    border-bottom: 2px solid #242424;
    color: #D1D1D1;
    letter-spacing: 2px; }
  body .fourth img {
    width: 80px;
    height: 31px;
    padding-bottom: 5px;
    margin-top: 5px; }
  body .fourth .text {
    padding-right: 0; }
    body .fourth .text p {
      padding-right: 0;
      margin: 0;
      color: #8D8D8D; }
  body .fifth h3 {
    margin-top: -17px;
    padding-bottom: 8px;
    border-bottom: 2px solid #242424;
    color: white;
    font-weight: bold; }
    body .fifth h3 span {
      color: #FF1A3D; }
  body .fifth .one img {
    width: 60px;
    height: 80px;
    padding: 0; }
  body .sixth {
    margin-top: 50px;
    height: 50px;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424; }
  body .seventh {
    color: #D1D1D1;
    text-align: center; }
    body .seventh .icon {
      margin-left: 12px; }
      body .seventh .icon i {
        margin-right: 10px;
        color: #D1D1D1;
        border: 1px solid #D1D1D1;
        padding: 5px; }
        body .seventh .icon i:nth-child(1) {
          padding-right: 10px; }

@media (max-width: 460px) {
  body #sub h3 {
    margin-left: 50px;
    text-align: left; }
  body #sub input {
    margin-left: 25px !important; }
  body .first {
    margin-left: 25px; }
  body .second {
    margin-left: 25px; }
  body .third {
    margin-left: 25px; }
  body .fourth {
    margin-left: 25px; }
    body .fourth .text {
      display: flex; }
      body .fourth .text p {
        width: 80px !important;
        margin-right: 3px; }
  body .fifth {
    margin-left: 25px;
    margin-top: 25px; } }

/*# sourceMappingURL=style.css.map */
