@import "color";

h2{
	color:white;
	font-family: 'Anton', sans-serif;
	font-size: 55px;
}
.jumbotron{
	padding: 0;
	nav{
		position: absolute;
    	width:100%;
    	z-index:10;
    	max-width:100%;
	}
	.carousel-item{
		img{
			width: 100vw;
			height: 600px;
		}
	}
}
.overlay { 
	font-family: 'Anton', sans-serif;
	margin-left: 25%;
	color:#fff;
  	position:absolute;
  	z-index:12;
  	top:30%;
 	width:50vw;
 	text-align:center;
 	span{
 		color:$color-jumbo;
 	}
 	h3{
 		color:white;
 		font-size: 50px;
 	}
 	h4{
 		font-family:'Raleway', sans-serif;
 		font-size: 12px;
 		letter-spacing: 2px;
 
 	}
 	.quote{
 		font-family:'Raleway', sans-serif;
 		font-size: 12px;
 		letter-spacing: 2px;

 	}
 	input{
 		background-color: $color-jumbo;
 		color: white;
 		border: none;
 		border-radius: 2px;
 		font-size: 12px;
 		padding: 5px 10px 5px 10px;
 		text-align: center;
 		margin-left: 43%;
 	}
}
.lay{
  	position:absolute;
  	z-index:12;
 	width:100%;
 	text-align:center;
 	span{
 		color:$color-jumbo;
 		font-size: 18px;
 		font-weight: bold;
 	}
 	ul{
 		margin-left: 25px;
 		.search{
 			margin-left: 250px;
 			margin-top: 5px;
 			width: 250px;
 			border-radius: 50%;
 			height: 25px;
 			span{
 				background-color:black;
				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
				padding-right: 6px;
				color:white;
				opacity: 0.5
 			}
 			input{
 				border-radius: 50px;;
 				color:white;
 				background-color:black;
 				border: none;
 				opacity: 0.5;
 			}

 		}
 	}

}

.last{
	a{
		background-color:transparent !important;
	}
}
.nav-item{	
	font-family:'Anton', sans-serif;

	#act{
		color: $color-jumbo !important;
		background-color: transparent !important;
	}
	a{
		padding: 5px;
		background-color: $color-jumbo;
		margin-right: 5px;
		color: white!important;
		border-radius: 2px;
	}
	.dropdown-menu{
		a{ 
			background-color: white!important;
			color: black!important;
		}
		a:hover{
			color: $color-jumbo !important;
		}
	}
}

.opacity{
	width: 101vw;
	height: 101vh;
	background-color: rgba(0,0,0,0.5) !important;
	z-index: 999;
	position:absolute;

}
#border{
	display: flex;
	background-color: $color-jumbo;
	font-size: 15px;
	p{
		padding: 0px 0px 0px 25px;
		margin: 7px 0;
		color: white
	}
	#first{
	background-color:black;
	border:none;
	font-size:15px;
	margin:5px 0 5px 10px;
	padding: 2px 10px;
		&:hover{
			background-color:white;
			color: $color-jumbo;
		}
	}
}

#close {
    position: absolute;
}
input {
	display: block;
	border:none;
	color: #000;
    padding: 10px;
}


// CONNECT
#newPass {display: none;}

#signUp {display: none;}
#signIn, #new-account {font-size: 0.9rem !important;}

#email {display: none;}

input[name="login"], input[name="pass"], #email {
    margin-bottom: 10px !important;
    border: 1px solid #000;
    margin: 0 auto;
    width: 50%;
}

input[type="submit"] {
    width: 25%;
    display: inline-block;
}

a {text-decoration: none;}

label[for="conditions"] {
    display: none;
    width: 50%;
    margin: 15px auto;
    align-items: center;
    input[type="checkbox"] {
        margin-right: 5px;
    }
}

label[for="connect"] {
    display: flex;
    width: 50%;
    margin: 15px auto;
    align-items: center;
    input[type="checkbox"] {
        margin-right: 5px;
    }
}


#forgot {
    color: #000;
    position: absolute;
    top: 56%;
    right: 30%;
    // font-family: $font-cond;
    font-size: 0.7rem;
}

/*-------------------------------*/

.modal-content {
	margin: 0 auto;
	padding: 5% 5%;
}

.modal-content h3 {
    width: 50%;
    color: #000;
	margin: 0 auto;
	text-align: center;
	font-size: 3.4em;
	font-weight: 300;
	position: relative;
}

.modal-content p {
    color: #000;
    margin: 0;
	text-align: center;
    margin-bottom: 20px;
}

.submit, #new-account, #newPass {
    background-color: #FF1A3B;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	cursor: pointer;
    border: none;
    padding: 10px;
}

#btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}



h3 span {
    color: #FF1A3D;
}