input {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	border:none;
	color: #000;
    padding: 10px;
}

#newPass {
    display: none;
}

#signUp {
    display: none;
}

#email {
    display: none;
}

input[name="login"], input[name="pass"], #email {
    margin-bottom: 10px !important;
    border: 1px solid #000;
    margin: 0 auto;
    width: 50%;
}

input[type="submit"] {
    width: 25%;
    display: inline-block;
}

a {text-decoration: none;}

label[for="conditions"] {
    display: none;
    width: 50%;
    margin: 15px auto;
}

label[for="connect"] {
    display: flex;
    width: 50%;
    margin: 15px auto;
}


#forgot {
    color: #000;
    position: fixed;
    top: 52%;
    right: 30%;
    font-family: 'Lato';
}


/*-------------------------------*/

.modal-content {
    border-radius: 3px;
	margin: 0 auto;
	padding: 5% 5%;
}

.modal-content h3 {
    width: 50%;
    color: #000;
	margin: 0 auto;
	text-align: center;
	font-size: 3.4em;
	font-weight: 300;
	position: relative;
}

.modal-content p {
    color: #000;
    margin: 0;
	text-align: center;
    margin-bottom: 20px;
}

.submit, #new-account, #newPass {
    background-color: #FF1A3B;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 10px;
}

#btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}


/*-----------------Modal Load-----------------*/
#modalLoad {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}

#blur {
    position: fixed;
	top: 50%;
	left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
    background-color: #FF1A3B;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding: 50px 0;
}

#blur a {
    background-color: #fff;
    color: #FF1A3B;
    border: none;
    border-radius: 2px;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
}

#blur p {
    margin-bottom: 20px;
}





























